registry=https://registry.npmjs.org/
@PreetiKharb:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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
//registry.npmjs.org/:_authToken=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
